<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title">Gerenciar cadastros</h5>
  </div>
  <div class="card-body row">
    <div class="col-6">
      <table class="table table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">id</th>
            <th scope="col">Título</th>
            <th scope="col">Tipo</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Texto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let noticia of noticias | paginate: { itemsPerPage: 10, currentPage: p }"
            (click)="preencherCamposParaEdicao(noticia)">
            <th scope="row">{{ noticia.id }}</th>
            <td>{{ noticia.titulo }}</td>
            <td class="text-middle">{{verificarTipo(noticia.tipo)}}</td>
            <td class="text-middle">{{verificarPlataforma(noticia.plataforma)}}</td>
            <td class="text-break">{{ noticia.texto.substring(0, 100) }}...</td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </div>

    <div class="col-6 d-flex justify-content-center">
      <div>
        <form [formGroup]="formulario">
          <div class="mb-4 row">
            <div class="col-3">
              <p for="input-nome" class="form-label text-start">Código</p>
              <input type="text" class="form-control" id="input-id" formControlName="id"
                [ngClass]="{'invalid-select': formulario.get('id')?.invalid && formularioEnviado}" readonly>
            </div>
            <div class="col-9">
              <p for="input-nome" class="form-label text-start">Título</p>
              <input type="text" class="form-control" id="input-titulo" formControlName="titulo"
                [ngClass]="{'invalid-select': formulario.get('titulo')?.invalid && formularioEnviado}">
            </div>
          </div>

          <div class="mb-4 text-start">
            <div>
              <div class="form-check" *ngFor="let tipo of tipos">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" formControlName="tipo" [value]="tipo.id">
                  {{tipo.descricao}}
                </label>
              </div>
            </div>
          </div>

          <div class="mb-4">
            <p for="select-plataforma" class="form-label text-start">Cargo</p>
            <select class="form-select" id="select-plataforma" formControlName="plataforma"
            [ngClass]="{'invalid-select': formulario.get('plataforma')?.invalid && formularioEnviado}">
              <option selected disabled>Selecione a função</option>
              <option *ngFor="let plataforma of plataformas" [value]="plataforma.id">{{ plataforma.nome }}</option>
            </select>
          </div>

          <div class="mb-4">  
            <p for="input-nome" class="form-label text-start">Texto</p>
            <textarea type="text" class="form-control" id="input-texto" formControlName="texto"
              [maxlength]="numeroCaracteres"
              [ngClass]="{'invalid-select': formulario.get('texto')?.invalid && formularioEnviado}">
            </textarea>
          </div>

          <div class="mb-4">
            <p for="input-nome" class="form-label text-start">Imagem</p>
            <input type="file" class="form-control" id="input-imagem" formControlName="imagem" accept="image/*"
              [ngClass]="{'invalid-select': formulario.get('imagem')?.invalid && formularioEnviado}">
          </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger" (click)="onDelete()">
              <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                <label class="ms-2" type="button">Excluir</label>
              </div>
            </button>

            <button type="button" class="btn btn-warning" (click)="onClear()">
              <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-x-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
                <label class="ms-2" type="button">Limpar</label>
              </div>
            </button>
            <button type="button" class="btn btn-success" (click)="onSave()">
              <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path
                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z" />
                </svg>
                <label class="ms-2" type="button">Salvar</label>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="card-footer text-muted">Footer</div> -->
</div>