<small>
  <div id="container-principal" class="container row m-auto">

    <div class="card col-8 ms-5 align-items-center ps-0 pe-0">
      <div class="card-header w-100">
        <h5 class="text-center">Notícias</h5>
      </div>
      <div class="card-body">
        <div class="card mb-3 w-100"
          *ngFor="let noticia of noticias | paginate: { itemsPerPage: 2, currentPage: paginaNoticia, id: 'noticias-pagination' }">
          <img src="../assets/img/cinza-claro.jpg" width="100%" height="200px" class="card-img-top" alt="imagem cinza">
          <div class="card-body">
            <h5 class="card-title">{{noticia.titulo}}</h5>
            <p class="card-text text-break">{{noticia.texto}}</p>
            <p class="card-text"><small class="text-muted">útima atualização às {{noticia.modificacao}}</small></p>
          </div>
        </div>
      </div>
      <div class="card-footer w-100 d-flex justify-content-center">
        <pagination-controls id="noticias-pagination" (pageChange)="paginaNoticia = $event" previousLabel="Anterior"
          nextLabel="Próximo"></pagination-controls>
      </div>
    </div>


    <div class="card col-3 ms-5 align-items-center ps-0 pe-0">
      <div class="card-header w-100">
        <h5 class="text-center">Notícias rápidas</h5>
      </div>
      <div class="card-body w-100">
        <div class="card align-items-center mb-3" id="card-noticia"
          *ngFor="let card of cards | paginate: { itemsPerPage: 3, currentPage: paginaCard, id: 'cards-pagination' }">
          <img src="../assets/img/cinza-claro.jpg" width="100%" height="150px" alt="imagem cinza">
          <div class="card-body">
            <h5 class="card-title">{{ card.titulo }}</h5>
            <p class="card-text text-break">{{ card.texto }}</p>
          </div>
        </div>
      </div>
      <div class="card-footer w-100">
        <pagination-controls id="cards-pagination" (pageChange)="paginaCard = $event" previousLabel="Anterior"
          nextLabel="Próximo"></pagination-controls>
      </div>
    </div>
  </div>
</small>